<h1>Editing Details Purchase Order</h1>

<%= render 'form', details_purchase_order: @details_purchase_order %>

<%= link_to 'Show', @details_purchase_order %> |
<%= link_to 'Back', details_purchase_orders_path %>
